@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranchers&display=swap');

:root {
  /* UI Colors - lightest to darkest*/
  --seasalt-gray: #ced4da;
  --antiflash-white: #e9ecef; /* text color */
  --platinum: #dee2e6;
  --french-gray: #ced4da;
  --french-gray-dark: #adb5bd;
  --slate-gray: #6c757d;
  --outer-space: #495057;
  --onyx: #343a40; /* body color */
  --eerie-black: #212529; /* sidebar color */
  --night-black: #0f1011;
  /* Pokemon Colors */
  --pokeball-red: #b42c1f;
  --pokeball-red-dark: #902b21;
  --pokemon-green: #4dad5b;
  --pokemon-blue: #0075be;
  --pokemon-blue-dark: #0a285f;
  --pokemon-yellow: #ffcc00;
  --pokemon-yellow-dark: #d5a100;
}
